html {
width: 100%;
height: 100%;
box-sizing: border-box; 
cursor: url("images/cursor_small.png"), pointer;
background-color: beige;
}


body {
  background-color: beige;
}

nav {
  background-color: beige;
}

.square {
      background-color: #9CE4F9;
    }

.hello {
  width: 500px;
  height: 25px;
}

.centered {
  text-align: center;
}

.text {
  font-family: monospace;
}

.body {
  background-color: beige;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;;
}
