html {
width: 100%;
height: 100%;
box-sizing: border-box; 
cursor: url("images/cursor_small.png"), pointer;
background-color: #9CE4F9;
}


body {
  background-color: beige;
}

nav {
  background-color: beige;
}

.square {
      background-color: #9CE4F9;
    }

.hello {
  width: 500px;
  height: 25px;
}

.centered {
  text-align: center;
}

.text {
  font-family: monospace;
}

